body{
  background-color: #E8E9EB;
}

.top_bar{
  color: aliceblue;
  background-image: linear-gradient(to top, #950952 0%, #5E0035 100%);
  padding: 2rem;
}

ul li span {
  font-weight: bold;
  color: #950952;
}

.advertencia{
  color: aliceblue;
  background-color: black;
  text-align: center;
}
